<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Religion & Spirituallity</title>
      <link rel="shortcut icon" type="image/x-icon" href="img/tito_beach.png">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
          <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">
<!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="sightseeing/style.css" />
<script type="text/javascript" src="sightseeing/jquery.js"></script>
      <script type="text/javascript" src="js/religious.js"></script>
<!-- End WOWSlider.com HEAD section -->
      <link rel="stylesheet" type="text/css" href="css/filter.css"/>
      </head>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC13LD-1oMTmWYl70AdDzM1P7Zg-SofnYg&signed_in=true&callback=initMap"
        async defer></script>
 <body id="page-top" scroll="no" style="overflow-y: scroll; overflow-x: hidden">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style=" border-bottom-width: 0px";>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/" >GOexplorAr</a><div class="search_box pull-right">
						</div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right" style="margin-right:0px"; >
                       
                     
<style>
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>

						</div>
                </ul>
            </div>
        
    </nav>
     <div class="path">
     <div class="pad border-b">
         <a href="/" title="GOexplorAr">Home</a>
         &nbsp;/&nbsp;
        <a href="/sightseeing" title="Sightseeing">Sightseeing</a>
             &nbsp;/&nbsp;
             <span>Religion & Spirituallity</span>
         </div>
     </div>
      <div class="title">
         <p class="title">Religion & Spirituallity</p>
         </div>
         <hr style="max-width: 1300px;">
     <aside id="info">
           <div class="txt">
               <div class="txt">
                   <p>
                       <b>
                           <img src="img/categories/sight/bacillica1.JPG" width="306" height="204" style="padding-right: 10px;padding-left:10px; float: left;" title="Old Goa" alt=""/>
Perhaps nowhere are the diverse influences of Goa more dramatic than in the places of worship. 

It is not uncommon to come across a temple in the Maratha style, with a distinctively Christian Plan and an Islamic dome! Such contradictions sum up the story of Goa, of the conquistadors and settlers who came and made it their home. They brought with them their languages, their customs, their architectural idioms, and smoothly integrated with the existing traditions. 

The Churches of Old Goa, built in the 16th & 17th centuries, are basically in the baroque Renaissance style with some Gothic touches. But the insides are all derived from European as well as Indian elements. The SeCathedral, largest church in Asia is a grand example of the form. 

The 80–metre long aisle is a truly imposing sight, with ornamental embellishments culminating in a magnificent gilf altar.

Old Goa – 10 km east of Panaji, is the prime tourist attraction of the State. It was built by Adil Shah, the Sultan of Bijapur.

Basilica of Bom Jesus, - dedicated to infant Jesus, is the most famous churches in Goa. The mortal remains of Saint Francis Xavier kept in a rich casket are enshrined here.

Se Cathedral – is the most imposing church in Goa – its vaulted interior overwhelms the visitors by its sheer grandeur.

The Churches of St. Francis of Assissi has its interior illustrated with exquisite paintings.

Saint Cajetan Church was built in the style of St. Peter's Basilica in Rome.

Church of our Lady of Rosary – is one of the earliest built churches in Goa.

There are more temples in Goa than churches, important among these are Manguesh temple at Mangueshi, Mahalsa Temple at Mardol, Shanta Durga Temple at Kavlem.
There are not too many mosques in Goa – the most important is the Jama Masjid at Sanguem. Another notable mosque in Goa is the Safa Shahouri Masjid at Ponda.
                           </aside>
                
     <section id="dvMap">
     </section>
                                      <div class="places" scroll="no" style="overflow-y: scroll; overflow-x: hidden">
                        <div class="places-title">
            <h4>Featured Places</h4>
            <hr style="max-width: 1000px;">
<div class="row" scroll="no" style="overflow-y: scroll; overflow-x: hidden">
  <div class="col-sm-2">
    <div class="thumbnail">
      <img src="img/categories/sight/pondamasjid1.jpg" alt="...">
      <div class="caption">
        <h5>Safa Masjid</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/safa" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/categories/sight/tambdi4.jpg" alt="...">
      <div class="caption">
        <h5>Tambdi Surla Temple</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/tambdi" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/categories/sight/bogdeshwar1.JPG" alt="...">
      <div class="caption">
        <h5>Bodgeshwar Temple</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/bodgeshwar" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
        <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/categories/sight/bacillica3.JPG" alt="...">
      <div class="caption">
        <h5>Basilica of Bom Jesus</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/bacillica" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
     <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/categories/sight/maruti.JPG" alt="...">
      <div class="caption">
        <h5>Maruti Temple Mala</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/bacillica" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
                  
</div>
                            <div class="row" scroll="no" style="overflow-y: scroll; overflow-x: hidden">
  <div class="col-sm-2">
    <div class="thumbnail">
      <img src="img/categories/sight/holy.jpg" alt="...">
      <div class="caption">
        <h5>Holy Spirit Church Margao</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/safa" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/categories/sight/mangeshi.jpg" alt="...">
      <div class="caption">
        <h5>Mangeshi Temple Ponda</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/tambdi" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/categories/sight/jama.jpg" alt="...">
      <div class="caption">
        <h5>Jama Masjid Sanquem Goa</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/bodgeshwar" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
        <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/categories/sight/panjim.JPG" alt="...">
      <div class="caption">
        <h5>
Immaculate Conception Church</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/bacillica" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
     <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/categories/sight/shanta.JPG" alt="...">
      <div class="caption">
        <h5>Shantadurga Temple Kavlem</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/bacillica" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
                  
</div>
                            <div class="row" scroll="no" style="overflow-y: scroll; overflow-x: hidden">
  <div class="col-sm-2">
    <div class="thumbnail">
      <img src="img/categories/sight/gurudwara.jpg" alt="...">
      <div class="caption">
        <h5>Gurudwara Betim Goa</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/safa" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
       <div class="thumbnail">
      <img src="img/categories/sight/verna.jpg" alt="...">
      <div class="caption">
        <h5>Mhahalsa Temple Verna</h5>
        <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
        <p><a href="/tambdi" class="btn btn-primary" role="button" style="width:84px;height:30px;">Explore</a></p>
      </div>
    </div>
  </div>
                            </div>          
</div>
            </div>
        </div>
     <div class="details">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +123456789</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> ahpsvinfo@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
          </div>
          	<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<h6>GOexplorAr</h6>
				</div>
			</div>
		</div>
		
	</footer>
<script type="text/javascript" src="sightseeing/slider.js"></script>
<script type="text/javascript" src="sightseeing/script.js"></script>
<script type="text/javascript" src="js/religion.js"></script>
<!-- End WOWSlider.com BODY section -->
       <script src="js/main.js"></script>
      
      <script src="js/bootstrap.min.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>